body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#leg-element {
  color: white;
  -webkit-text-stroke: .8px black;
  font-size: x-large;
}

.dropdown-menu {
max-height: 500px;
overflow-y: auto;
}

#party-breakdown {
  max-width:100%;
  max-height:100%;
}

